:root {
    --tw-text-opacity: 1;
}

body { 
    margin: 0;
}

#app {
    position: relative;
}

.rank-info-container {
    display: flex;
    position: absolute;
    justify-content: space-around;
    top: 194px;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}

.tier {
    margin-right: 16px;
}

.rank-info-container .item {
    display: flex;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    animation:fadeIn .7s ease-in both;
}

.search-container {
    padding:53.5px 0;
    background-color: #000;
    display: flex;
    flex-direction: column;
}
.main-title {
    margin: 0 0 32px 0;
    text-align: center;
    color: #fff;
}
.contents-container {
    height: calc(100vh - 282px);
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: #fff;
}
.footer {
    height: 50px;
}
.input-box {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 512px; height: 50px;
    background-color: #2d2f37;
}
.input-userName {
    background-color: #2d2f37;
    border: 0;
    color: #fff;
    font-size: 16px;
    line-height: 100%;
    outline: 0;
    padding: 8px 12px;
    width: 80%;
}
.search-button {
    background-color: #ffffff00;
    border: 0;
    cursor: pointer;
}
.content-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}
.experiment-list-section {
    border: solid 1px #e6e6e6;
    margin: 0 8px 16px;
}

.experiment-list-container {
    box-sizing: border-box;
    padding: 16px;
    width: 100%;
    height: 206px;
    overflow: auto;
}

.experiment-list-title {
    background-color: #363944;
    color: #fff;
    height: 50px;
    margin: 0;
    line-height: 50px;
    padding-left: 16px;
    font-size: 14px;
}
.experiment-list{
    margin: 0;
    padding: 0;
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(64px,1fr));
    column-gap: 14px;
    row-gap: 8px;
}

.experiment-name {
    font-size: 11px;
    line-height: 16px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.free-rotate:hover .experiment-name{
    
    color: rgb(153 153 153/var(--tw-text-opacity));
}

.img-container {
    display: relative;
    margin-bottom: 2px;
}

.free-rotate {
    cursor: pointer;
    list-style: none;
    height: 82px;
    width: 64px;
}

.free-rotate figure {
    margin: 0;
    align-items: center;
    flex-direction: column;
}

.flex {
    display: flex;
}



@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }
    to {
        opacity: 0;
        transform: translateY(-50%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@media (max-width: 576px) {
    .input-box {
        max-width: 320px;
        max-height: 36px;
        border-radius: 8px;
    }
    .search-container {
        padding-top: 0;
        padding-bottom: 16px;
    }
    .main-title {
        font-size: 24px;
        height: 44px;
        line-height: 44px;
        margin-bottom: 16px;
        border-bottom: 1px solid #363944;
    }
    .experiment-list-container {
        min-height: 320px;
    }
    .rank-info-container {
        color: #000;
        top: 120px;
    }
    .tier {
        margin-right: 8px;
    }
}

@media (min-width: 576px){
    .contents-container {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .contents-container {
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .contents-container {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .contents-container {
        max-width: 1140px;
    }
}